# Core simulation
NUM_ACC=
SEED=

# Output behavior
WRITE_TO_FILE=
WRITE_TO_DB=
WRITE_TO_DUCK=

# Workers
NUM_WORKERS=

# A/B Test Configuration
DEFAULT_APP_VERSION=
AB_CONTROL_SUFFIX=
AB_TEST_SUFFIX=
AB_START=
AB_END=

# Simulation Dates
START_DATE=
END_DATE=